__pycache__
*.pyc
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
.title
.cfg
.coverage
.nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
site/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pypoison
*.log
*.bak
*.swp
*~
.DS_Store
.git
.gitignore
Dockerfile
.dockerignore
.env
.env.*
!.env.example
